html
  head
    title Argha Dance Academy
    block scripts
    block styles
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        | Copyright © 2019 ArghaAcademy.com | All Rights Reserved