extends base.pug
block scripts
  script(src='/static/index.js')

block styles
    style 
        include ../static/style.css 
        include ../static/styleContact.css 
block content 
    h3 Contact Us